<section class="titulo">
  <div class="tlt">
    <h1>Listado de Pokemons</h1>
    <div class="form">
      <span class="search">
        <input
          type="text"
          class="search-input"
          placeholder="Buscar..."
          id="inputSearch"
          #inputSearch
          (keyup)="search(inputSearch.value)"
        />
      </span>
      <button class="click" type="submit" (click)="search()">
        Buscar pokemon
      </button>
    </div>
  </div>
</section>
<section class="listado">
  <ng-container *ngFor="let pokemon of pokemons">
    <div class="card" (click)="openDetail(pokemon.pokemon)">
      <div class="blocks">
        <div class="block">
          <div class="overlay">
            <a href="">{{ pokemon.pokemon }}</a>
          </div>
          <img [src]="pokemon.url_image" alt="Image" />
        </div>
      </div>
    </div>
  </ng-container>
</section>
