<section class="s1">
  <svg viewBox="0 0 960 300">
    <symbol id="s-text">
      <text text-anchor="middle" x="50%" y="80%">Pokémon ´s</text>
    </symbol>

    <g class="g-ants">
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
    </g>
  </svg>
  <p>Encuentra todos tus pokemon en detalle</p>
</section>

<section class="s2">
  <div class="s2_content">
    <h1>¿Que son los pokemon?</h1>
    <p>
      Los Pokémon (ポケモン Pokémon en japonés) son criaturas ficticias de la
      famosa saga de videojuegos de nintendo creada por Satoshi Tajiri y de los
      que dependiendo de la especie o el tipo, pueden tener rasgos físicos
      parecidos a animales, plantas, rocas, fantasmas, o incluso humanos (aunque
      de tamaño en muchos casos muy superior a lo que mediría la especie a la
      que se parece).
    </p>
    <p>
      Poseen poderes fantásticos que pueden utilizar llevando a cabo movimientos
      o habilidades para atacar, defenderse o cumplir sus necesidades.
      Generalmente pueden vivir en todo tipo de entornos, subsistiendo en la
      libertad de la naturaleza o conviviendo con humanos y ayudándolos.
    </p>
  </div>
  <img
    class="cuadro1"
    src="../../../assets/img/pngfind.com-pastel-goth-png-616493.png"
    alt=""
  />
</section>

<section class="s3">
  <div id="slider">
    <input type="radio" class="red" name="slider" id="s1" checked />
    <input type="radio" class="red" name="slider" id="s2" />
    <input type="radio" class="red" name="slider" id="s3" />
    <label for="s1" id="slide1"></label>
    <label for="s2" id="slide2"></label>
    <label for="s3" id="slide3"></label>
  </div>
  <div class="txt">
    <p>
      En esta web podras tanto ver todos los pokemons existentes como buscar
      solo tus favoritos y obtener detalles de ellos
    </p>
  </div>
</section>
